/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset ol li label {
  float: none;
}
form.formtastic fieldset ol li p.inline-hints {
  margin-left: 0;
}
form.formtastic fieldset.buttons {
  padding-left: 0;
}