<p>Hi everyone!</p>

<p>One last email, just to make sure you have all the key details for <%= @event.happens_on.to_s :day %>.</p>

<ul>
  <li>From <b>10:00am</b> to <b>5:00pm</b>, <%= @event.happens_on.to_s :day_and_date %>.</li>
  <li><%= link_to "#{@event.venue}, #{@event.address}", @event.map_uri %></li>
</ul>

<p>Don't forget to keep thinking through what you may want to share on the day - and feel free to share that <a href="https://docs.google.com/document/d/1bSZpwac43yATHx5B1_FA-B1u6Hdvi5n9H5IQCwMYrcI/edit">in this document</a>. We also highly recommend a read through of <a href="http://trampolineday.com/guide">the guide</a> on how Trampoline works (In our last email, this page had the wrong location - it's now been fixed!).</p>

<p><a href="http://trampolineday.com/guide">http://trampolineday.com/guide</a></p>

<p>Also, it is a little last minute, but we're after a couple of things perhaps you can help with: a projector to borrow for one of the session spaces and screens for those projects. If you can access either of those things and we can borrow them for the day, let us know.</p>

<p>If you've got any last minute questions or problems, please don't hesitate to get in touch - either by email, or give Pat a call on 0413 273 337. We are very much looking forward to meeting and bouncing with you on <%= @event.happens_on.to_s :day %>!</p>