<p>Hi everyone!</p>

<p>One last email, just to make sure you have all the key details for <%= @event.happens_on.to_s :day %>.</p>

<ul>
  <li>From <b>10:00am</b> to <b>5:00pm</b>, <%= @event.happens_on.to_s :day_and_date %>.</li>
  <li><%= link_to "#{@event.venue}, #{@event.address}", @event.map_uri %></li>
</ul>

<p>Don't forget to keep thinking through what you may want to share on the day - and feel free to share that <a href="http://www.facebook.com/groups/111632852329315/">on the Facebook page</a>. We also highly recommend a read through of <a href="http://trampolineday.com/guide">the guide</a> on how Trampoline works.</p>

<p><a href="http://trampolineday.com/guide">http://trampolineday.com/guide</a></p>

<p>If you've got any last minute questions or problems, please don't hesitate to get in touch - either by email, or give John a call on 0405 447 829. We are very much looking forward to meeting and bouncing with you on <%= @event.happens_on.to_s :day %>!</p>