<p>Hi everyone!</p>

<p>One last email, just to make sure you have all the key details for Saturday.</p>

<ul>
  <li>From <b>9:00am</b> to <b>6:00pm</b>, Saturday 16th of April.</li>
  <li><a href="http://goo.gl/maps/f8A2">Circus Oz, 40 Bay Street, Port Melbourne 3207</a></li>
</ul>

<p>For those of you driving, give yourself 15 minutes to find a park, and take notice of the zoning - time limits are apparently enforced regularly. For those taking public transport, Tram 109 to the end of the line is your best bet - then it's a short walk south.</p>

<p>Don't forget to keep thinking through what you may want to share on the day. We also highly recommend a read through of <a href="http://trampolineday.com/guide">the guide</a> on how Trampoline works.</p>

<p><a href="http://trampolineday.com/guide">http://trampolineday.com/guide</a></p>

<p>If you've got any last minute questions or problems, please don't hesitate to get in touch - either by email, or give Pat a call on 0413 273 337. We are very much looking forward to meeting and bouncing with you on Sunday!</p>