<p>Hi there,</p>

<p>We're excited to have you joining us at <b>Trampoline</b> on the 16th, and we're looking forward to having a great mix of people come together to share what they find amazing.</p>

<p>When you signed up, we provided you with a <b>special invite link</b> that you can send to someone else who hasn't been to a Trampoline before. At this point, your link hasn't been used - and we would like to fit as many interested people in on the day, so we'll be releasing any spares on Wednesday.</p>

<p>So, if you've got someone in mind, please make sure they sign up <b>before 6:00pm on the 30th of March</b> - otherwise their ticket will be returned to the pool. Here's that link one more time:</p>

<p><a href="http://trampolineday.com<%= accept_path(@attendee.invite_code) %>">http://trampolineday.com<%= accept_path(@attendee.invite_code) %></a></p>

<p>See you soon!</p>
