<p>Hi everyone!</p>

<p>Trampoline is now just over a week away, on Sunday the 9th of October! A few things to ponder before the big day:</p>

<p><b>Who pays for all this?</b></p>

<p>We've received some support from our fantastic sponsors, <a href="http://www.circusoz.com/">Circus Oz</a>, <a  href="http://www.ergoconsulting.com.au/">Ergo Consulting</a>, <a href="http://webdirections.org/">Web Directions</a>, <a href="http://www.nodecity.com">Nodecity</a> and <a href="http://strategicgameslab.com/">Strategic Games Lab</a> - but this doesn't cover all our costs. We're expecting everything to cost around $3000, so if you can <a href="http://pledgie.com/campaigns/14593">pitch in</a> to help us stay in the black, that would be greatly appreciated.</p>

<p><a href="http://pledgie.com/campaigns/14593">http://pledgie.com/campaigns/12668</a></p>

<p><b>Presenting on the day - what will you be talking about?</b></p>

<p>A reminder that anyone can present at Trampoline. To find out more about the format of Trampoline, and some tips on how to construct your presentation, have a read of <a href="http://trampolineday.com/guide">our essential guide to the day</a>. Get ready to share those things you find amazing in this world!<br><br>Looking forward to seeing you on the day!
</p>