<p>Hi everyone!</p>

<p>Trampoline is now less than a week away, on <%= @event.happens_on.to_s :day_and_date %>! While we'll be in touch later in the week with the final details, we just want to get the creative juices flowing early...</p>

<p><b>Presenting on the day - what will you be talking about?</b></p>

<p>Here's a summary from an early Trampoline in Melbourne:</p>

<p><a href="https://vimeo.com/11404254"><img src="http://trampolineday.com/images/steve-video.png" width="450" /></a></p>

<p>A reminder that anyone can present at Trampoline. To find out more about the format of Trampoline, and some tips on how to construct your presentation, have a read of <a href="http://trampolineday.com/guide">our essential guide to the day</a>. Get ready to share those things you find amazing in this world!</p>

<p>If you have some ideas already, need some inspiration, or are curious, have a chat about it on <a href="http://www.facebook.com/groups/111632852329315/">the Facebook page</a>.</p>

<p>Looking forward to seeing you on the day!</p>
