<p>Hi everyone!</p>

<p>Trampoline is now only a week away, on Sunday the 9th of October! While we'll be in touch during the week with the final details, we just want to get the creative juices flowing early...</p>

<p><b>Presenting on the day - what will you be talking about?</b></p>

<p>A reminder that anyone can present at Trampoline. To find out more about the format of Trampoline, and some tips on how to construct your presentation, have a read of <a href="http://trampolineday.com/guide">our essential guide to the day</a>. Get ready to share those things you find amazing in this world!</p>

<p><b>Welcoming Nick to the team</b></p>

<p>As noted at the last Trampoline in Melbourne, Mel and Steve are focusing more on getting Trampolines happening in their current locations (Cambodia and Sydney, respectively).</p>

<p>This has provided us with the great opportunity to increase the diversity and bring some new blood into the Melbourne team - and so we welcome Nick Harvey as the new member of the organising group, certain that he will help make Trampoline amazing.</p>

<p>Looking forward to seeing you on the day!</p>