<p>Hi everyone!</p>

<p>Trampoline is now only a few days away, on <%= @event.happens_on.to_s :day_and_date %>! In preparation for a fun and interesting day, we want to get the creative juices flowing early... but first, the key details:</p>

<ul>
  <li>From <b>10:00am</b> to <b>5:00pm</b>, <%= @event.happens_on.to_s :day_and_date %>.</li>
  <li><%= link_to "#{@event.venue}, #{@event.address}", @event.map_uri %></li>
</ul>

<p>We're in an old warehouse, so make sure you dress warmly, as there's not going to be much in the way of heating. If you're taking the tram, hop off at the Entertainment Centre, walk toward the Gov and past it to Park Terrace. Continue along Park Terrace for 300 meters and you'll find us inside Gate 1. Here's <a href="http://trampolineday.com/images/adelaide-map.jpg">a map</a> just to be sure:</p>

<p><a href="http://trampolineday.com/images/adelaide-map.jpg"><img src="http://trampolineday.com/images/adelaide-map.jpg" width="450" /></a></p>

<p><b>Food and Drink</b></p>

<p>You'll have plenty of energy at Trampoline on Sunday thanks to Kommon Grounds Coffee selling hot, steaming cups of liquid gold coffee, tea and hot chocolate from 9:45am so bring some change!</p>

<p>What A Treat Cafe and Recycled Clothing will also be providing hot and healthy lunch time brain food for you all to buy on Sunday. You didn't hear it from us but the vego option is going to be amazeballs...</p>

<p><b>Presenting on the day - what will you be talking about?</b></p>

<p>Don't stress - we're not going to force you to present, but we're certainly looking forward to hearing what interesting ideas, stories and skills everyone will share on the day.</p>

<p>If you've not been to a Trampoline before, here's a few links for some background:</p>

<ul>
  <li>Richie Khoo, one of the Trampoline Adelaide organisers, speaking on Radio Adelaide about <a href="https://radio.adelaide.edu.au/bouncing-ideas-higher/">what's involved in the event.</a></li>
  <li>One of the Trampoline founders, Pat, talking about <a href="http://vimeo.com/51273955">how the event came about.</a></li>
  <li><a href="http://vimeo.com/11404254">A summary of an early Trampoline in Melbourne.</a></li>
</ul>

<p>To find out more about the format of Trampoline, and some tips on how to construct your presentation, have a read of <a href="http://trampolineday.com/guide">our essential guide to the day</a>. Get ready to share those things you find amazing in this world!</p>

<p>If you have some ideas already, need some inspiration, or are curious, have a chat about it on <a href="https://www.facebook.com/TrampolineAdelaide">the Facebook page</a>.</p>

<p>If you've got any last minute questions or problems, please don't hesitate to get in touch - either by email, or give Pam a call on 0413 398 930. We are very much looking forward to meeting and bouncing with you on <%= @event.happens_on.to_s :day %>!</p>
