<p>Hi everyone!</p>

<p>Trampoline is now only a few days away, on <%= @event.happens_on.to_s :day_and_date %>! In preparation for a fun and interesting day, we want to get the creative juices flowing early... but first, the key details:</p>

<ul>
  <li>From <b>10:00am</b> to <b>5:00pm</b>, <%= @event.happens_on.to_s :day_and_date %>.</li>
  <li><%= link_to "#{@event.venue}, #{@event.address}", @event.map_uri %></li>
</ul>

<p><b>Presenting on the day - what will you be talking about?</b></p>

<p>Don't stress - we're not going to force you to present, but we're certainly looking forward to hearing what interesting ideas, stories and skills everyone will share on the day.</p>

<p>If you've not been to a Trampoline before, here's a few links for some background:</p>

<ul>
  <li>Richie Khoo, one of the Trampoline Adelaide organisers, speaking on Radio Adelaide about <a href="https://radio.adelaide.edu.au/bouncing-ideas-higher/">what's involved in the event.</a></li>
  <li>One of the Trampoline founders, Pat, talking about <a href="http://vimeo.com/51273955">how the event came about.</a></li>
  <li><a href="http://vimeo.com/11404254">A summary of an early Trampoline in Melbourne.</a></li>
</ul>

<p>To find out more about the format of Trampoline, and some tips on how to construct your presentation, have a read of <a href="http://trampolineday.com/guide">our essential guide to the day</a>. Get ready to share those things you find amazing in this world!</p>

<p>If you have some ideas already, need some inspiration, or are curious, have a chat about it on <a href="https://www.facebook.com/TrampolineAdelaide">the Facebook page</a>.</p>

<p>If you've got any last minute questions or problems, please don't hesitate to get in touch - either by email, or give Richie a call on 0425 614 388. We are very much looking forward to meeting and bouncing with you on <%= @event.happens_on.to_s :day %>!</p>
