<p>Hi there</p>

<p>Perhaps you've heard through the grapevine, but maybe not: Trampoline is returning to Adelaide in a week and a half (on October 27th). We'd love to have you back again for another great day - if you're keen to come along, you can grab a ticket through our site right now:</p>

<h3 style="padding: 10px;display: block;color: #202020;font-family: Arial;font-size: 20px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;"> <a href="http://trampolineday.com/events/15-adelaide/register" style="color: #000;padding: 10px;background-color: #E2EEFE;font-weight: bold;text-decoration: underline;">Register Now</a></h3>

<p>Hope you're having a wonderful day, and perhaps we'll catch you soon.</p>
