<p>Hi <%= @waiter.name %></p>

<p>You're in luck! A place has just opened up, and you can attend Trampoline! To confirm your place, please use <a href="http://trampolineday.com<%= event_accept_path(@waiter.event, @waiter.invite.code) %>">this link</a> to register:</p>

<p><a href="http://trampolineday.com<%= event_accept_path(@waiter.event, @waiter.invite.code) %>">http://trampolineday.com<%= event_accept_path(@waiter.event, @waiter.invite.code) %></a></p>

<p>Please make sure you register <b>WITHIN 24 HOURS</b>, otherwise we will offer this place to the next person in the queue.</p>

<p>Looking forward to seeing you at Trampoline.</p>