<p>Hi everyone,</p>

<p>It's been a few weeks, but thanks again for attending Trampoline! It was great to see so many people stand up and share what they found amazing.</p>

<p>Our appreciation also goes out to our sponsors: <a href="http://oxfordstdesignstore.com.au">Oxford Street Design Store</a>, <a href="https://twitter.com/homework66">Home/Work</a>, <a href="http://fishburners.org">Fishburners</a> and <a href="http://knowledgebird.com">Knowledge Bird</a>. Thanks for getting our backs.</p>

<p><b>Future Trampolines</b></p>

<p>News about future events will go out via the announcements mailing list. To stay in the loop, sign up here:</p>

<p><a href="http://trampolineday.com/subscribers/new">Subscribe to the Announcements Mailing List</a></p>

<p><b>Feedback</b></p>

<p>We'd love some feedback on what you thought of the day. If you have a spare minute, here's our survey - it's just a handful of questions:</p>

<p><a href="http://www.zoomerang.com/Survey/WEB22FK2RD5APT">Fill out our short survey</a></p>

You're also welcome to email us should those questions not cover everyone you'd like to tell us.

<p><b>Trampoline Discussions</b></p>

<p>If there's any ideas that have particularly resonated from the event, feel free to discuss these on our Google discussion group - Tom Dawkins has already kicked things off with some notes and slides from his crowdfunding session.</p>

<p><a href="http://groups.google.com/group/trampoline-melb/">Join the Discussion on Google Groups</a></p>

<p><b>Look at the photos</b></p>

<p>There is also a growing collection of photos online on the photo-sharing website Flickr, all part of the Trampoline group. We'd love to see more appear there - if you're not sure how to do this, there are <a href="http://www.flickr.com/help/with/groups/">some pointers</a> on their site.</p>

<p><a href="http://www.flickr.com/groups/trampolineday/pool/">View the Photos</a></p>

<p>Once again, thank you to all who helped make Trampoline such an amazing day - our volunteers, our sponsors, and everyone who participated.</p>
