<p>Hi everyone,</p>

<p>Thanks again for attending Trampoline! It was great to see so many people stand up and share what they found amazing at Circus Oz. We were stoked to see so many new faces amongst all those who made it.</p>

<p>Our appreciation also goes out to our sponsors: <a href="http://www.circusoz.com/">Circus Oz</a>, <a href="http://webdirections.org/">Web Directions</a> and <a href="http://www.ergoconsulting.com.au/">Ergo Consulting</a>. Thanks for getting our backs.</p>

<p><b>Look at the photos</b></p>

<p>There is also a growing collection of photos online on the photo-sharing website Flickr, all part of the Trampoline group. We'd love to see more appear there - if you're not sure how to do this, there are <a href="http://www.flickr.com/help/with/groups/">some pointers</a> on their site.</p>

<p><a href="http://www.flickr.com/groups/trampolineday/pool/">View the Photos</a></p>

<p><b>Future Trampolines</b></p>

<p>News about future events will go out via the announcements mailing list and the discussion group on Google. To stay in the loop, sign up for one of these:</p>

<p><a href="http://trampolineday.com/subscribers/new">Subscribe to the Announcements Mailing List</a><br>
  <a href="http://groups.google.com/group/trampoline-melb/">Join the Discussion on Google Groups</a></p>

<p><b>Feedback</b></p>

<p>If you've any thoughts on the day - what was good, what needs work - let us know, we're keen to keep improving and evolving Trampoline.</p>

<p>Once again, thank you to all who helped make Trampoline such an amazing day - our volunteers, our sponsors, and everyone who participated.</p>
