<p>Hello everyone!</p>

<p>While it's been a couple of months now, we're still buzzing from the recent Trampoline in Adelaide. It was great to bounce ideas together and learn about the things people find amazing.</p>

<p>Your feedback on the day is certainly valued - we want to make the next event even better. If you have a spare minute or two, can you fill out <a href="https://docs.google.com/forms/d/1COPPq-0MRx5uPMB4J21a5bMCDXVwoI_k2otPKy0fS9g/viewform">our survey</a>? It's not long!</p>

<h3 style="padding: 10px;display: block;color: #202020;font-family: Arial;font-size: 20px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;"> <a href="https://docs.google.com/forms/d/1COPPq-0MRx5uPMB4J21a5bMCDXVwoI_k2otPKy0fS9g/viewform" style="color: #000;padding: 10px;background-color: #E2EEFE;font-weight: bold;text-decoration: underline;">A Quick Survey</a></h3>

<p>We look forward to Trampolining again - indeed, we're pretty stoked to let you know that our next event already has a date locked in: <strong>Sunday, October 27th</strong>. When tickets are available, we'll be getting word out through <a href="http://trampolineday.com/subscribers/new">our mailing list</a>.</p>

<p>It would be great to see you in <a href="https://www.facebook.com/TrampolineAdelaide">the Facebook group we've set up</a>. Perhaps you can share links to some of the things you find amazing?</p>

<p>Once again, thank you to all who helped make Trampoline such an amazing day - our volunteers and supporters, and everyone who participated.</p>
