<p>Hello everyone!</p>

<p>It was great to bounce ideas together and learn about the things people find amazing.</p>

<p>We look forward to Trampolining again, and keep up with the friends we made as well. As John K noted on Twitter last week - it was an incredibly intimate event. We started the day with a mixed-bag of strangers, and we all left with new friends.</p>

<p>It would be great to see you in <a href="http://www.facebook.com/groups/111632852329315/">the Facebook group we've set up</a>. Perhaps you can share links to some of the things you find amazing that we talked about on that Sunday?</p>

<p>John B has already posted a few links from the weekend, including to <a href="http://storify.com/JohnSBaxter/trampolineday-adelaide-dec-2012/">a Storify story</a>, which brings tweets and pictures from the weekend together into one place. Storify is a great way to capture the conversation for posterity.</p>

<p>We'd love to Trampoline again in six months time - tweet <a href="http://twitter.com/trampolineday">@trampolineday</a> or use <a href="http://www.facebook.com/groups/111632852329315/">the Facebook group</a> to tap someone on the shoulder if you want to help make this happen.</p>

<p>Once again, thank you to all who helped make Trampoline such an amazing day - our volunteers and supporters, and everyone who participated.</p>
