<p>Hi everyone,</p>

<p>Thanks again for attending Trampoline! It was great to see so many people stand up and share what they found amazing at Circus Oz. We were stoked to see so many new faces amongst all those who made it.</p>

<p>Our appreciation also goes out to our sponsors: <a href="http://www.circusoz.com/">Circus Oz</a>, <a href="http://www.ergoconsulting.com.au/">Ergo Consulting</a>, <a href="http://webdirections.org/">Web Directions</a>, <a href="http://strategicgameslab.com/">Strategic Games Lab</a> and <a href="http://www.nodecity.com">Nodecity</a>. Thanks for getting our backs.</p>

<p>As discussed on the day, while Trampoline is a free event there is some cost involved to make it happen. So, if you can pitch in to cover costs via the pledgie website, that would be greatly appreciated. A huge thanks for those who have contributed already!</p>

<h3 style="padding: 10px;display: block;color: #202020;font-family: Arial;font-size: 20px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">
	<a href="http://pledgie.com/campaigns/14593" style="color: #000;padding: 10px;background-color: #E2EEFE;font-weight: bold;text-decoration: underline;">Donate Here</a></h3>

<p><b>Look at the photos</b></p>

<p>There is also a growing collection of photos online on the photo-sharing website Flickr, all part of the Trampoline group. We'd love to see more appear there - if you're not sure how to do this, there are <a href="http://www.flickr.com/help/with/groups/">some pointers</a> on their site.</p>

<p><a href="http://www.flickr.com/groups/trampolineday/pool/">View the Photos</a></p>

<p><b>Future Trampolines</b></p>

<p>As we discussed at the end of the event, Trampoline will continue to happen roughly every six months in Melbourne. There's also plans for Trampoline to spread to Sydney, Adelaide and Cambodia. If you'd like to help out - or even help Trampoline happen elsewhere - please do get in touch.</p>

<p>News about future events will go out via the announcements mailing list and the discussion group on Google. To stay in the loop, sign up for one of these:</p>

<p><a href="http://trampolineday.com/subscribers/new">Subscribe to the Announcements Mailing List</a><br>
  <a href="http://groups.google.com/group/trampoline-melb/">Join the Discussion on Google Groups</a></p>
  
<p><b>Videos are online</b></p>

<p>Jacqui from <a href="http://www.latenitefilms.com/">Late Nite Films</a> and Chris from <a href="http://www.scoutfilms.com.au/">Scout Films</a> have done a stellar job processing and uploading the footage from the day, and have got most of them online. Not every session was recorded, but plenty were, and they can be found on our Vimeo channel.</p>

<p><a href="http://vimeo.com/channels/trampolineday">Watch the Videos</a></p>

<p><b>Feedback</b></p>

<p>If you've any thoughts on the day - what was good, what needs work - let us know, we're keen to keep improving and evolving Trampoline.</p>

<p>Once again, thank you to all who helped make Trampoline such an amazing day - our volunteers, our sponsors, and everyone who participated.</p>
