.register
  %h2 Next Event
  %h3 To Be Announced - Watch This Space!

.mailing-list
  %h2 Mailing List
  %p To be sent official announcements regarding future Trampolines from the team, make sure you're on our announcements mailing list:
  != render :partial => 'subscribers/form'

.follow
  %h2 Follow Trampoline
  %ul
    %li.flickr
      %a(href="http://www.flickr.com/groups/trampolineday/" target="_blank") Flickr
    %li.vimeo
      %a(href="http://vimeo.com/channels/trampolineday" target="_blank") Vimeo
    %li.twitter
      %a(href="http://twitter.com/trampolineday" target="_blank") Twitter
    %li.google
      %a(href="http://groups.google.com/group/trampoline-melb/" target="_blank") Google Group

.past-events
  %h2 Past Events
  %ul#previous
    %li 28th March 2009 &mdash; Melbourne 
    %li 24th October 2009 &mdash; Melbourne
    %li 2nd May 2010 &mdash; Melbourne

.sponsors
  %h2 Many Thanks To...
  %ul
    %li
      %a(href="http://donkeywheel.wordpress.com/")
        %img(src="/images/donkeywheel.jpg" title="Donkey Wheel")
    %li
      %a(href="http://webdirections.org")
        %img(src="/images/web_directions.png" title="Web Directions")
    %li
      %a(href="http://www.nodecity.com")
        %img(src="/images/nodecity.png" title="Nodecity")
    %li
      %a(href="http://pollenizer.com")
        %img(src="/images/pollenizer.png" title="Pollenizer")
  

- unless Attendee.on_sale?
  .patience
    %p Registration isn't open yet! We'll be letting people in on the 20th of April at 10am, and will be announcing this on <a href="/subscribers/new">the mailing list</a>.
    
    %p There will only be 75 tickets released - so make sure you're here at 10am on the dot to confirm your place at Trampoline.
