%p.summary Slow down, Sonny Jim!

%p Registration isn't open yet! We'll be letting people in on the 20th of April at 10am, and will be announcing this on <a href="/subscribers/new">the mailing list</a>.

%p There will only be 75 tickets released - so make sure you're here at 10am on the dot to confirm your place at Trampoline.