%p.summary Slow down, Sonny Jim!

%p Registration isn't open yet! We'll be letting people in on #{ event.release_at.strftime('%B %e at %l:%M%p') }, and will be announcing this on <a href="/subscribers/new">the mailing list</a>.

%p There are a limited number of tickets available - so make sure you're here at 12pm on the dot to confirm your place at Trampoline.
