%p.summary Uh, this Trampoline has finished.

Looks like the organisers are a little slack with updating the website. Needless to say, there will be more Trampolines in the future, so to keep track of the latest, make sure you're on the <a href="/subscribers/new">announcements mailing list</a>.
