<h2>Thanks for registering <%= @attendee.name %>!</h2>

<p>Now that your spot at Trampoline is secure, you should add the key details to your diary:</p>

<ul>
  <li>Sunday, 2nd May, from 9:00am to 6:00pm</li>
  <li>Donkey Wheel House, 673 Bourke Street, Melbourne 3000</li>
</ul>

<% unless @attendee.invited? %>
  <% if @attendee.inviting? %>
    <p>We've sent an email to <%= @attendee.invite_email %>, inviting them along for the day as well. However, if they can't make it, then you'll need to give the following link off to someone else:</p>
  <% else %>
    Don't forget, you have a spare ticket to invite someone who has not been to a Trampoline before. Please give them the following link so they can register their place.
  <% end %>
  
  <%= link_to referral_link(@attendee), referral_link(@attendee) %>
<% end %>

<p>We have sent you an email with all these details as well - so you don't need to bookmark or print out this page (though feel free to do either of those things).</p>
