%p.summary
  Thanks for registering,
  = @attendee.name

%p Now that your spot at Trampoline is secure, you should add the key details to your diary:

%ul
  %li Sunday, 2nd May, from 9:00am to 6:00pm
  %li!= link_to "Donkey Wheel House, 673 Bourke Street, Melbourne 3000", "http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=673+Bourke+Street,+Melbourne&amp;sll=-25.335448,135.745076&amp;sspn=58.82617,78.046875&amp;ie=UTF8&amp;hq=&amp;hnear=673+Bourke+St,+Melbourne+Victoria+3000&amp;ll=-37.815005,144.957304&amp;spn=0.011866,0.018239&amp;z=15"
  
%iframe(width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=673+Bourke+Street,+Melbourne&amp;sll=-25.335448,135.745076&amp;sspn=58.82617,78.046875&amp;ie=UTF8&amp;hq=&amp;hnear=673+Bourke+St,+Melbourne+Victoria+3000&amp;ll=-37.815005,144.957304&amp;spn=0.011866,0.018239&amp;z=15&amp;output=embed")

- unless @attendee.invited?
  - if @attendee.inviting?
    %p
      We've sent an email to
      = @attendee.invite_email
      inviting them along for the day as well. However, if they can't make it, then you'll need to give the following link off to someone else:
  - else
    Don't forget, you have a spare ticket to invite someone who has not been to a Trampoline before. Please give them the following link so they can register their place.
  
  %p!= link_to referral_link(@attendee), referral_link(@attendee)

%p We have sent you an email with all these details - so you don't need to bookmark or print out this page (though feel free to do either of those things).
