%p.summary Sorry, Trampoline is booked out!

- if all_released?
  %p We'd love to have you there, but unfortunately we have some size constraints with the venue.
  %p
    However, some who have registered may tell us they can no longer make it. If you
    != link_to "join the waiting list", new_waiting_list_path
    we can let you know if we can fit you in.
- else
  %p We will be releasing any unconfirmed tickets on Monday September 13th, at 10:00am - please do try again then! (There won't be many, and they will go quickly, so it's best to set a reminder for yourself).

%p To keep track of the latest, make sure you're on the <a href="/subscribers/new">announcements mailing list</a>.
