%p.summary The Essential Guide to Trampoline

%h2 The Place

%p Trampoline will be hosted in Bowden, just along Park Terrace from The Gov. Drive down Park Terrace to Third Street which has a big 'Gate 1' sign from when it was the Clipsal factories - there's plenty of parking inside Gate 1, and you'll find us in the old factory easily from there. 

%iframe(width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?q=12+Park+Terrace,+Bowden,+South+Australia&hl=en&ll=-34.906936,138.578796&spn=0.007611,0.010686&sll=-34.906782,138.57881&sspn=0.00178,0.002671&oq=12+Park+Terra&gl=au&hnear=12+Park+Terrace,+Bowden+South+Australia+5007&t=m&z=15&iwloc=A&output=embed")

-# %p
-#   Please note that you won't be able to take food and drink through most of the rooms in Circus Oz - closed drink bottles are okay, though (so perhaps you'll want to bring one of them).

%h2 The Schedule

%p We'll be kicking things off at 10:00AM with an introduction to the idea, the people and the format, and then asking the assembled scrum for sessions. This is a <strong>key part of the day</strong>, so please don't be late!

%p
  %a(href="http://www.flickr.com/photos/88868103@N00/4041893812")
    %img.left(src="/images/draw.png")
  All participants huddle around the empty session grid, and volunteer for running different sessions. Each speaker will also give a quick, 10 second overview of their topic.

%p We do this twice during the day at Trampoline - once in the morning, covering all the sessions up until lunchtime, and then again after everyone has eaten.

%p We'll have three or four sessions on at any one time, and then at the end of the day we'll open the floor for half a dozen lightning talks - which can be no more than five minutes each. It all should wrap up at around 5:00PM.

%h2 Running a Session

%p We don't hand-pick any speakers - and so we expect those attending to put themselves forward to talk about something they find amazing.

%p
  %a(href="http://www.flickr.com/photos/88868103@N00/4041150713/")
    %img.right(src="/images/luke.jpg")
  You do not need to be an expert to speak at Trampoline, but <strong>some knowledge helps</strong>. Please don’t be afraid to speak - indeed, we encourage you to! - but it is a good idea to have at least a little knowledge about your topic, if only to start a session before moderating a discussion with the audience.

%p Each session should run for 20 minutes, and we allow for 10 minutes break between each session, to allow for people to move between sessions and enjoy some less formal conversation.

%p If your session has run out of time, but people still wish to continue the discussion, we encourage you to move it to a non-session space — whether that be the general milling area, or an unused room.

%p <strong>Your session is whatever you want it to be</strong> - you can have slides if you want, or write on butchers' paper, or just talk. You can take questions, or make the entire session much more of a conversation, or run a short workshop, or something different. It's completely up to you.

%h2 Attending Sessions

%p The key thing to keep in mind here is <strong>the law of two feet</strong>:

%p
  %a(href="http://www.flickr.com/photos/44709316@N03/4110891473")
    %img.left(src="/images/scrum.jpg")
  At Trampoline, you can go anywhere you like, at any time. More importantly, don’t feel you've committed to a specific session once you sit down there. If you’re neither learning or contributing, you are encouraged to use your two feet and visit the other sessions.

%p.under Also, if you're in a session which looks like it will run overtime, please feel welcome to gently remind the speaker of the session limits, to help make sure the day runs smoothly.

%h2 Take Initiative

%p Trampoline is not about achieving great things, nor determining future actions. The event is simply a place and time, where you can meet, share and discuss ideas. Because of this, sessions should not be used as a pitch for action.

%p This doesn’t mean we don’t want to see great things happen, but you need to be the driving force, not us. It's worth keeping this little saying in mind:

%p
  %strong If it's to be, it's up to me

%p Please feel welcome to draw people together to discuss a project or idea outside of the set sessions &mdash; perhaps in a nearby room in the space, or a  cafe down the street.
