%section.main
  %p.summary
    Trampoline is a self-organising event for those who find the world interesting, have something to offer and share, and have an inquisitive mind.

  %p Attendees are expected to come along with participation in mind and share what the find amazing to an audience that is up for cross disciplinary discussion. We've captured some of the ensuing conversations, presentations and discussions on video here.

  %p
    %a(href="#")
      %img.left(src="/images/thumb-mingling.jpg")
    The goal is to cover subjects that will be appealing across different disciplines. Technical or business-focused, environmental or social, new or old, complex or simple‚ as long as the ideas are interesting and you find them amazing, they’ll fit right in.
  %p To stay up to date with future events, make sure you’re on the announcements mailing list.

  %h2 The Format

  %p Trampoline is a self-organising, informal event for those who find the world interesting, have something to offer and share, and have an inquisitive mind. 
  %p Attendees are expected to come along with participation in mind and share what the find amazing to an audience that is up for cross disciplinary discussion. We've captured some of the ensuing conversations, presentations and discussioments mailing list.
  

  %h2 Getting Involved

  %p
    %a(href="#")
      %img.right(src="/images/thumb-mingling.jpg")
    Trampoline is a self-organising, informal event for those who find the world interesting, have something to offer and share, and have an inquisitive mind. 
  %p Attendees are expected to come along with participation in mind and share what the find amazing to an audience that is up for cross disciplinary discussion. We've captured some of the ensuing.
    

  %h2 The Organisers

  %p Trampoline is a self-organising, informal event for those who find the world interesting, have something to offer and share, and have an inquisitive mind. 
  %p Attendees are expected to come along with participation in mind and share what the find amazing to an audience that is up for cross disciplinary discussion. We've captured some of the ensuing conversations, presentations and discussioments mailing list.
  

%aside
  .register
    %h2 Next Event
    %h3 Trampoline 3
    %dl
      %dt When
      %dd Sunday May 2 2010
      %dt Where
      %dd Donkey Wheel House Melbourne
    %a{:href => register_path} Register

  .follow
    %h2 Follow Trampoline
    %ul
      %li.flickr
        %a(href="http://www.flickr.com/photos/tags/trampolineday/" target="_blank") Flickr
      %li.vimeo
        %a(href="http://vimeo.com/tag:trampolineday" target="_blank") Vimeo
      %li.flickr
        %a(href="#" target="_blank") Flickr
      %li.vimeo
        %a(href="#" target="_blank") Vimeo
        
  .mailing-list
    %h2 Mailing List
    %p Join the Trampoline community and discuss lorem, ipsum and all sorts of great things yeah.
    - form_tag subscribers_path do
      %input(type="text" placeholder="Name" name="subscriber[name]" title="Name")
      %input(type="text" placeholder="Email address" name="subscriber[email]" title="Email address")
      %input(type="submit" value="Subscribe")

  .past-events
    %h2 Past Events
    %h3 1st December 2009 - Melbourne
    %p Featured a bunch of things awesome and lots of great stuff. Featured a bunch of things awesome and lots of great stuff. Featured a bunch of things awesome and lots of great stuff. 
    %h3 1st April 2009 - Melbourne
    %p Featured a bunch of things awesome and lots of great stuff. Featured a bunch of things awesome and lots of great stuff. Featured a bunch of things awesome and lots of great stuff. 
