%p
  An event for those who find the world interesting, have something to offer and share, and have an inquisitive mind.
  Bounce around cross-discipline concepts and thoughts that expand your thinking—<strong>come and share what you find amazing!</strong>
