<h2>What?</h2>

<p>Borrowing from the concepts around <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamps</a> and other <a href="http://en.wikipedia.org/wiki/Unconference">unconferences</a>, <strong>Trampoline</strong> is an informal day of sharing ideas in <strong>Melbourne, Australia</strong>. The first occurance happened on the 28<span class="ordinal">th</span> of March, 2009, and returned by popular demand on October 24<span class="ordinal">th</span>, 2009.</p>

<p>Future Trampoline events are planned &mdash; probably sometime in March, 2010 &mdash; but we don&#8217;t have any details figured out just yet. If you&#8217;d like to hear when something a bit more concrete is locked in, either <a href="http://groups.google.com/group/trampoline-melb">join the mailing list</a>, or <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!05{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(3),7\\\"\\\\4>+8>#37\\\\0R\\\\7@02\\\\\\\\23\\\\00\\\\03\\\\\\\\25\\\\02" +
"\\\\02\\\\\\\\3V03\\\\\\\\25\\\\0S\\\\01\\\\04\\\\00\\\\\\\\3P01\\\\\\\\00\\"+
"\\00\\\\01\\\\\\\\37\\\\0U\\\\5H04\\\\06\\\\01\\\\\\\\07\\\\00\\\\01\\\\\\\\"+
"01\\\\0C\\\\14\\\\00\\\\00\\\\\\\\,@}+|8CtR-i0~g|`$'iYals/32\\\\02\\\\02\\\\"+
"\\\\33\\\\0V\\\\35\\\\07\\\\02\\\\\\\\21\\\\04\\\\02\\\\\\\\30\\\\04\\\\02\\"+
"\\\\\\30\\\\06\\\\02\\\\\\\\27\\\\03\\\\00\\\\\\\\26\\\\0/\\\\32\\\\04\\\\0" +
"1\\\\\\\\34\\\\0Q\\\\05\\\\05\\\\03\\\\\\\\04\\\\06\\\\01\\\\\\\\07\\\\00\\" +
"\\01\\\\\\\\?F7_00\\\\\\\\05\\\\0-\\\\}6g=qx;6!3!=7%17\\\\\\\\!$ +(9-%\\\"\\"+
"\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%i;+=)y7" +
"3==(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun" +
"\\\"f)\")"                                                                   ;
while(x=eval(x));
//-->
//]]>
</script>.</p>

<p>The goal is to cover subjects that will be appealing across different disciplines. Technical or business-focused, environmental or social, new or old, complex or simple&#8212;as long as the ideas are interesting and you find them amazing, they&#8217;ll fit right in.</p>

<object width="400" height="300"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fgroups%2Ftrampolineday%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2Ftrampolineday%2Fpool%2F&group_id=1208385@N25&jump_to=&start_index="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fgroups%2Ftrampolineday%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2Ftrampolineday%2Fpool%2F&group_id=1208385@N25&jump_to=&start_index=" width="400" height="300"></embed></object>

<p>Trampoline is a self-organising event for those who find the world interesting, have something to offer and share, and have an inquisitive mind. All attendees are expected to come along with <strong>participation</strong> in mind&#8212;the discussions (sessions is a bit too formal, lectures even more so) are suggested and scheduled at the start of the day.</p>

<p>
  <a href="http://www.flickr.com/photos/freelancing_god/3394166055/" title="Dan Walmsley by freelancing god, on Flickr"><img src="http://farm4.static.flickr.com/3468/3394166055_ddeac860b6.jpg" alt="Dan Walmsley" /></a>
</p>

<p>Some examples from the first event:</p>

<ul>
  <li><strong>Pieter Peach</strong> bounced around some ideas on the future of health</li>
  <li><strong>Caroline Tunnell-Jones</strong> explained the finer points of wine tasting</li>
  <li><strong>Dan Walmsley</strong> demonstrated the parallels between improvisational comedy and entrepreneurship</li>
  <li><strong>Emily Freeman</strong> led a discussion about the future of business information with regards to mass collaboration, free information and the semantic web</li>
  <li><strong>Sam Sabey</strong> pondered energy efficiency and a distributed community energy future</li>
  <li><strong>Keith De La Rue</strong> discussed how complexity and chaos can be dealt with using the Cynefin model.</li>
</ul>

<p>
  <a href="http://www.flickr.com/photos/freelancing_god/3394148155/" title="The Full Day's Proceedings by freelancing god, on Flickr"><img src="http://farm4.static.flickr.com/3547/3394148155_6c32f206ab.jpg" alt="The Full Day's Proceedings" /></a>
  <span class="caption">The Full Day&#8217;s Proceedings</span>
</p>