%p.summary Trampoline is a self-organising event for those who find the world interesting, have something to offer and share, and have an inquisitive mind.

%p Attendees are expected to come along with participation in mind and share what the find amazing to an audience that is up for cross disciplinary discussion.

%p
  %a(href="http://www.flickr.com/photos/44709316@N03/4111668810/in/pool-trampolineday")
    %img.left(src="/images/crowd.jpg")
  The goal is to cover subjects that will be appealing across different disciplines. Technical or business-focused, environmental or social, new or old, complex or simple‚ as long as the ideas are interesting and you find them amazing, they’ll fit right in.
  
%p.under Here's just a handful of topics that have been covered in previous events:

%ul
  %li
    %span Intergenerational Learning
  %li
    %span Wine Tasting
  %li
    %span The 1000-Year Old Human
  %li
    %span How to Juggle
  %li
    %span Similarities between Improvisational Comedy and Entrepreneurship
  %li
    %span 3D Printers
  %li
    %span Mass Collaboration, Free Information and the Semantic Web
  %li
    %span Complexity and Chaos

%p To stay up to date with future events, make sure you’re on <a href="/subscribers/new">the announcements mailing list</a>.

%h2 The Format

%p
  %a(href="http://www.flickr.com/photos/44709316@N03/4110890927/in/pool-trampolineday")
    %img.right(src="/images/grid.jpg")
  The day at Trampoline is filled with sessions offered by attendees on the day - nothing is given priority, nothing is locked in before we start. Each session is 20 minutes long, and is focused on sharing something that the presenter finds amazing. Sometimes they can be talks, or group discussions, or tutorials. You can structure your session how you wish.

%p There's no expectation that those speaking are experts (though a little knowledge usually helps). <strong>Participation is key</strong>.

%p At any given point, there will be four or five sessions happening - so you can either choose one discussion, or wander between a few - there's no expectation to stay put.

%h2 Getting Involved

%p Want to be a part of the conversations around Trampoline before and after the actual event? It mostly takes place, via <a href="http://twitter.com/trampolineday">Twitter</a> and <a href="http://groups.google.com/group/trampoline-melb">the Google Group</a>.

%p The latter in particular is a great way to communicate with many Trampoline attendees - perhaps following up on topics that were discussed, sharing further ideas, or putting together ideas for the next event.

%h2 The Organisers

%p
  %a(href="http://www.flickr.com/photos/dejavu47/4048737686/in/pool-trampolineday")
    %img.full(src="/images/mel_steve.jpg")
  This event is being put together by <a href="http://twitter.com/melinachan">Melina Chan</a>, <a href="http://thesquigglyline.com/blog/">Steve Hopkins</a>, <a href="http://twitter.com/aida_lee">Aida Lee</a> and <a href="http://freelancing-gods.com">Pat Allan</a>, with some valued assistance from Bei Yin. But we don&#8217;t control the content of Trampoline&#8212;that is always up to the people who come along!

%p
  Need to get in touch? Just shoot
  != enkode_mail 'pat@freelancing-gods.com', 'Pat'
  an email.