%p.summary Trampoline is coming to Sydney!

%p
  %a(href="http://www.flickr.com/photos/44709316@N03/4110891473")
    %img.full(src="/images/crowd-medium.jpg")

%p Yes, it's true &mdash; we're expanding Trampoline up the coast to Sydney. We're not exactly sure where and when just yet, but if all goes to plan, it should take place some time before November.

%p
  We're looking for venues that are stupendous, authentic &mdash; and can hold around 150 amazing people. If you know of a place that fits the bill,
  != enkode_mail 'steve@thesquigglyline.com', 'Steve'
  is the man to talk to. That also applies if you're interested in sponsoring Trampoline Sydney.

%p To keep tabs on the latest updates, make sure you're on the mailing list:

!= render :partial => 'subscribers/form'