html, body, div, p, h1, h2, h3, dl, dd, dt {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  background-color: #a2c6ff;
  color: #091e23;
}
body {
  width: 810px;
  margin: 0 auto;
  font: 14px/21px "Aller", "Myriad Pro", sans-serif;
  padding: 20px 0 40px 0;
}
section#content {
  overflow: hidden;
}
p {
  margin: 10px 0;
}
header h1 {
  font: 110px "Aller Display", "Myriad Pro", sans-serif;
  text-transform: lowercase;
  a {
    text-decoration: none;
    color: #091e23;
  }
}
header p {
  font-size: 28px;
}

header p, h2, h3 {
  color: white;
  text-shadow: #091e23 1px 1px 0px;
}

section.main {
  float: left;
  width: 480px;
  padding-bottom: 40px
}
section.main p img {
  border: 10px solid #e2eefe;
  -webkit-box-shadow: rgba(0,0,0,.05) 4px 4px 0;
}
img.left {
  float: left;
  margin: 0 20px 20px 0;
}
img.right {
  float: right;
  margin: 0 0 20px 20px;
}
img.full {
  display: block;
  margin: 20px 0;
}
p.under {
  clear: left;
}

aside {
  float: right;
  width: 280px;
  margin-left: 40px;
  h2 {
    margin-top: 40px;
  }
}

aside {
  .register {
    background-color: #e2eefe;
    text-align: center;
    padding: 20px;
    margin: 10px 10px 0 0;
    -webkit-transform: rotate(3deg);
    -webkit-box-shadow: rgba(0,0,0,.05) 4px 4px 0;
    font-family: "Museo Slab", sans-serif;
    a {
      display: block;
      background-color: #576645;
      -webkit-box-shadow: rgba(0,0,0,.1) 4px 4px 0;
      border-radius: 5px;
      font-size: 18px;
      line-height: 35px;
      text-decoration: none;
      color: #abb3a2;
      &:hover {
        background-color: #657453;
      }
    }
    h2, h3 {
      text-shadow: none;
    }
    h2, dt {
      color: #a6c6ff;
    }
    h2 {
      font-size: 15px;
      text-transform: uppercase;
      margin: 0; /* BAAAAAD */
    }
    h3 {
      font: 24px/36px "Aller";
      color: #091e23;
    }
    dl {
      font-size: 13px;
      margin: 10px 0 15px 0;
      overflow: hidden;
    }
    dt {
      float: left;
      text-align: right;
      padding-right: 5%;
      width: 30%;
    }
    dd {
      float: left;
      text-align: left;
      width: 65%;
    }
  }
  
  form {
    input {
      width: 100%;
    }
    input.submit {
      width: auto;
    }
  }
  
  ul#previous {
    margin-left: 0;
    padding-left: 0;
    
    li {
      color: white;
      text-shadow: #091e23 1px 1px 0px;
    }
  }
}

form.new_subscriber input {
  display: block;
}

iframe {
  display: block;
  margin: 10px 0;
}

.summary {
  font-weight: bold;
}

.patience {
  display: none;
  background-color: white;
  padding: 10px 20px;
  font-size: 12px;
  position: absolute;
}

.wait {
  display: block;
}
