@font-face {
	font-family: 'Museo Slab';
	src: url('/fonts/museo_slab_500.eot');
	src: local('Museo Slab'), url('/fonts/museo_slab_500.woff') format('woff'), url('/fonts/museo_slab_500.ttf') format('truetype'), url('/fonts/museo_slab_500.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Museo Sans';
	src: url('/fonts/museosans_500.eot');
	src: local('Museo Sans'), url('/fonts/museosans_500.woff') format('woff'), url('/fonts/museosans_500.ttf') format('truetype'), url('/fonts/museosans_500.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aller Display';
	src: url('/fonts/allerdisplay.eot');
	src: local('Aller Display'), url('/fonts/allerdisplay.woff') format('woff'), url('/fonts/allerdisplay.ttf') format('truetype'), url('/fonts/allerdisplay.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aller';
	src: url('/fonts/aller_rg.eot');
	src: local('Aller'), url('/fonts/aller_rg.woff') format('woff'), url('/fonts/aller_rg.ttf') format('truetype'), url('/fonts/aller_rg.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aller Italic';
	src: url('/fonts/aller_it.eot');
	src: local('Aller Italic'), url('/fonts/aller_it.woff') format('woff'), url('/fonts/aller_it.ttf') format('truetype'), url('/fonts/aller_it.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aller Bold Italic';
	src: url('/fonts/aller_bdit.eot');
	src: local('Aller Bold Italic'), url('/fonts/aller_bdit.woff') format('woff'), url('/fonts/aller_bdit.ttf') format('truetype'), url('/fonts/aller_bdit.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aller Bold';
	src: url('/fonts/aller_bd.eot');
	src: local('Aller Bold'), url('/fonts/aller_bd.woff') format('woff'), url('/fonts/aller_bd.ttf') format('truetype'), url('/fonts/aller_bd.svg#webfont') format('svg');
}

html, body, div, p, h1, h2, h3, dl, dd, dt {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  background-color: #a2c6ff;
  color: #091e23;
}
body {
  width: 810px;
  margin: 0 auto;
  font: 14px/21px "Aller", "Myriad Pro", sans-serif;
  padding: 20px 0 40px 0;
}
.section#content {
  overflow: hidden;
}
h2 {
  margin-top: 30px;
  font: 24px "Aller", "Myriad Pro", sans-serif;
}
p {
  margin: 10px 0;
}
strong {
  font-weight: bold;
}

#header {
  margin-left: -15px;
  h1 {
    font: 110px/1 "Aller Display", "Myriad Pro", sans-serif;
    text-transform: lowercase;
    a {
      text-decoration: none;
      color: #091e23; } }
  p {
    margin: 0 0 30px 15px;
    text-transform: lowercase;
    font: 21px "Aller Bold Italic", sans-serif }
}

h2, h3, #header p {
  color: white;
  text-shadow: #091e23 1px 1px 0px;
}

.section.main {
  float: left;
  width: 480px;
  p.summary {
    margin-bottom: 20px;
    font: 21px/31px "Aller Bold", sans-serif;
  }
  p.warning {
    font-weight: bold;
  }
  ul {
    padding-left: 1em;
    li {
      padding: .1em 1em;
      list-style: square;
      color: #4C7385;
      span {
        color: #091E23;
      }
    }
  }
  p a {
    color: #4C7385;
    text-decoration: none;
    border-bottom: 2px solid #4C7385;
    &:hover {
      color: lighten(#4C7385, 10%);
    }
    &:active {
      color: darken(#4C7385, 10%);
    }
  }
}
.section.main p img {
  border: 10px solid #e2eefe;
  -webkit-box-shadow: rgba(0,0,0,.05) 4px 4px 0;
}
img.left {
  float: left;
  margin: 0 20px 20px 0;
}
img.right {
  float: right;
  margin: 0 0 20px 20px;
}
img.full {
  display: block;
  margin: 20px 0;
}
p.under {
  clear: left;
}

#aside {
  float: right;
  width: 280px;
  margin-left: 40px;
  font-size: 13px; }
  aside h2 {
    margin-top: 40px;
    font-size: 18px; }
  aside p {
    padding-right: 20px;
    color: #4c7385;
  }

#aside .register {
  background-color: #e2eefe;
  text-align: center;
  padding: 20px;
  margin: 10px 10px 40px 0;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 4px 4px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 4px 4px 0;
  font-family: "Museo Slab", serif;
  a {
    display: block;
    background-color: #576645;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 0;
    border-radius: 5px;
    font-size: 18px;
    line-height: 35px;
    text-decoration: none;
    color: #abb3a2;
    border-radius: .7em;
    -moz-border-radius: .7em;
    -webkit-border-radius: .7em;
  }
  a.wait {
    background: none;
    display: block;
    color: #091e23;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px;
    line-height: 45px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  a:hover {
    background-color: #657453;
  }
  a.wait:hover {
    font-weight: bold;
    background: none;
  }
  h2, aside .register h3 {
    text-shadow: none; }
  h2, dt {
    color: #a6c6ff; }
  h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0; }
  h3, span {
    display: block;
    font: 24px/36px "Aller Bold Italic";
    color: #091e23;
    text-shadow: none; }
  span {
    margin-bottom: 4%;
  }
  dl {
    font-size: 13px;
    margin: 10px 0 15px 0;
    overflow: hidden; }
  dt {
    float: left;
    text-align: right;
    padding: 4px 5% 0 0;
    width: 30%;
    line-height: 15px;
    text-transform: uppercase; }
  dd {
    float: left;
    padding-top: 4px;
    text-align: left;
    width: 65%;
    font: 13px/15px "Museo Sans",sans-serif; }
}
#aside {
  .follow ul {
    margin: 1em 0;
    padding: 0;
    overflow: auto;
    li {
      display: block;
      float: left;
      margin: 3px 10px 3px 0;
      padding: 0;
      width: 46%;
      height: 25px;
      background-color: #bed7ff;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      &:nth-child(even) {
        margin-right: 0;
      }
      &:hover {
        background-color: lighten(#bed7ff, 3%);
      }

      a {
        display: block;
        height: 100%;
        text-indent: -9999em;
        background-image: url(/images/follow.png);
      }
      &.flickr a {
        background-position: 50% 4px;
      }
      &.vimeo a {
        background-position: 50% -25px;
      }
      &.twitter a {
        background-position: 50% -55px;
      }
      &.google a {
        background-position: 50% -87px;
      }
    }
  }
  .past-events {
    ul {
      margin-top: 10px;
      li {
        font: 13px/20px "Aller Bold", sans-serif;
        color: #4C7385;
        text-shadow: none; }
    }
    p {
      margin-top: 0; }
  }
}

form.formtastic fieldset.inputs ol li {
  width: 100%
}

input[type="text"],
form.formtastic fieldset.inputs input[type="text"] {
  margin-bottom: 10px;
  padding: 4px;
  width: 90%;
  border: 2px solid #7e9bc8;
  font-size: 13px;
  &:focus {
    border: 2px solid #091e23;
  }
}
input[type="submit"],
form.formtastic fieldset.buttons input[type="submit"] {
  padding: 6px 10px;
  background: #091e23;
  color: #e2eefe;
  font: 13px "Museo Slab", serif;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  &:hover {
    background: lighten(#091e23, 10%);
  }
}

iframe {
  display: block;
  margin: 10px 0;
}

.patience {
  display: none;
  background-color: white;
  padding: 10px 20px;
  font-size: 12px;
  position: absolute;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  -webkit-box-shadow: rgba(0,0,0,.05) 4px 4px 0;
  -moz-box-shadow: rgba(0,0,0,.05) 4px 4px 0;
}

.wait {
  display: block;
}

.sponsors ul {
  margin-top: 10px;
}

.sponsors img {
  width: 270px;
  border: 5px solid #e2eefe;
  background-color: white;
}
