= form_tag subscribers_path, :class => 'new_subscriber' do
  %input(type="text" placeholder="Name" name="subscriber[name]" title="Name")
  %input(type="text" placeholder="Email address" name="subscriber[email]" title="Email address")
  %input(type="submit" value="Subscribe" class="submit")