<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Trampoline</title>
    <%= stylesheet_link_tag 'formtastic', 'application', 'formtastic_changes' %>
  </head>
  <body>
    <h1>Trampoline</h1>
    
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
